name: Build and Release EXE

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller customtkinter playwright pandas openpyxl requests Pillow
          playwright install chromium

      - name: Build EXE
        run: |
          python -m PyInstaller --noconfirm --onefile --windowed --name "Tool_Muasamcong_Scrape_Data" --collect-all customtkinter --collect-all playwright --collect-all pandas --collect-all openpyxl --hidden-import=requests --add-data "Image;Image" --icon="Image/BST_Pharma_ICO.ico" gui_tool.py

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/Tool_Scrape_Muasamcong.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact (for manual runs)
        uses: actions/upload-artifact@v4
        with:
          name: Tool_Scrape_Muasamcong
          path: dist/Tool_Scrape_Muasamcong.exe
